# autoconf creates these ephemeral files
config.log
config.h
config.status

# build system
Makefile

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary and Backup
*~
*.bak
